> In this notebook, we will evaluate the models' performance based on the results we obtained through the Git :  [combining-evolutionary-and-assay-labelled-data](https://github.com/chloechsu/combining-evolutionary-and-assay-labelled-data)

In [1]:
# Imports 
import pandas as pd
import numpy as np

### 1. Results Loading

In [5]:
RESULTS = 'results/demo/'

#### 1.1 Simple linear model without evolutionary data

In [7]:
simple_linear = pd.read_csv(RESULTS+'linear_one_hot_only_labels_20seeds_240trainsample.csv')
simple_linear.head()

,dataset,predictor,predictor_params,seed,n_train,ndcg,ndcg_1mut,spearman,spearman_1mut,topk,topk_mean,topk_mean_1mut
0,BLAT_ECOLX_Ranganathan2015-2500,onehot,NaN,0,240,0.6533,0.6533,0.4880,0.4880,96,-0.2295,-0.2295
1,BLAT_ECOLX_Ranganathan2015-2500,onehot,NaN,1,240,0.6612,0.6612,0.5015,0.5015,96,-0.1937,-0.1937
2,BLAT_ECOLX_Ranganathan2015-2500,onehot,NaN,2,240,0.6164,0.6164,0.5138,0.5138,96,-0.3840,-0.3840
3,BLAT_ECOLX_Ranganathan2015-2500,onehot,NaN,3,240,0.6706,0.6706,0.5581,0.5581,96,-0.2886,-0.2886
4,BLAT_ECOLX_Ranganathan2015-2500,onehot,NaN,4,240,0.6449,0.6449,0.5368,0.5368,96,-0.2959,-0.2959

#### 1.2 EV Potts

#### 1.3 VAE

### 2. Models comparison

### 3. Going Further

#### 3.1 testing other models than ridge regression

#### 3.2 K fold cross validation on Ridge Regression