> This notebook contains the evolutionary dataset first analysis.

In [2]:
import pandas as pd
import numpy as np

### 1. Data Loading

> We have both xls and fasta format for the evolutionary dataset.

In [3]:
# Data Paths
FASTA_msa_seq = 'data/msa/4.Fasta_all_7k.txt'
XLS_msa_seq = 'data/msa/Dataset_S4.xls'
XLS_msa_seq_csv = 'data/msa/Dataset_S4.csv'

# Read the Excel file and write to CSV
df = pd.read_excel(XLS_msa_seq)
df.to_csv(XLS_msa_seq_csv, index=False)

# Data Loading
#fasta_msa = pd.read_csv(FASTA_msa_seq,  delimiter='\t')
XLS_msa = pd.read_csv(XLS_msa_seq_csv)

In [4]:
display(XLS_msa)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,NaN,User note: GenBank Accession numbers marked wi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Database Source,Sequence ID,GenBank Accession,Primary Structure,GXNCRFLQ Motif,Protein Length,Domain Structure,Functional Cluster,Primary Effector,Primary Effector Gene Ontology,Linker Length,Number of Predicted Transmembrane Helices,Transmembrane Helix Topology,Kingdom,Phylum,Class,Order,Family,Genus,Species
3,Interpro,A0A009EVU7,EXA65901.1,MTSFYNGGTSQEIFNLIGQAAALEDIIDAITVWLGDKIPDALVSVM...,GKNCRILQ,850.0,"[N_terminus : (0, 0) ---> GAF_2 : (9, 166) ---...","['EAL', 'GAF', 'GGDEF', 'LOV', 'PAS']",GGDEF,Cyclic Nucleotide Biosythesis,12.0,0.0,NaN,Bacteria,Proteobacteria,Gammaproteobacteria,Pseudomonadales,Moraxellaceae,Acinetobacter,baumannii
4,Interpro,A0A009JQP1,EXB31618.1,MNNNCDDHDTYHIFNLIGQHTELHLILSAASTWLESRISNVLVAIM...,GKTCHFLQ,855.0,"[N_terminus : (0, 0) ---> GAF_2 : (26, 166) --...","['EAL', 'GAF', 'GGDEF', 'LOV', 'PAS']",GGDEF,Cyclic Nucleotide Biosythesis,12.0,0.0,NaN,Bacteria,Proteobacteria,Gammaproteobacteria,Pseudomonadales,Moraxellaceae,Acinetobacter,baumannii
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6780,OneKP,ZYAX_2075737,KU702188,MEPSNPGNTNNSFPSGNVVRKVLDDSPAIISPLPRDSRGSLEVFNP...,GKNCRFLQ,1083.0,"[N_terminus : (0, 0) ---> TLOV : (286, 663) --...","['Pkinase', 'TLOV']",Pkinase,Kinase Activity,83.0,0.0,NaN,Land Plants,Pinophyta,Pinopsida,Pinales,Taxaceae,Taxus,cuspidata
6781,OneKP,ZZOL_2003873,KU702189,MESTSGSKQDHYFSQRSSSMPKPVRDSLAQLPRDSRGSLEVFNPQG...,GRNCRFLQ,1008.0,"[N_terminus : (0, 0) ---> TLOV : (232, 597) --...","['Pkinase', 'TLOV']",Pkinase,Kinase Activity,83.0,0.0,NaN,Land Plants,Lycopodiophyta,Isoetopsida,Selaginellales,Selaginellaceae,Selaginella,lepidophylla
6782,OneKP,ZZOL_2007563,KU702190,MALQNGSLLSSDRKCVRSPRMKNHKLIVSQSLIRSYRASIQDELQK...,GRNCRFLQ,394.0,"[N_terminus : (0, 0) ---> TLOV : (49, 354) ---...",['TLOV'],Short_LOV,Short LOV,0.0,0.0,NaN,Land Plants,Lycopodiophyta,Isoetopsida,Selaginellales,Selaginellaceae,Selaginella,lepidophylla
6783,OneKP,ZZOL_2011001,KU702191#,MLVEVSQFTEGSKDKAVRPNGMPESLIKYDARQKDSVVSSVSELVE...,GKNCRFLQ,465.0,"[N_terminus : (0, 0) ---> LOV : (142, 247) ---...","['LOV', 'Pkinase']",Pkinase,Kinase Activity,83.0,0.0,NaN,Land Plants,Lycopodiophyta,Isoetopsida,Selaginellales,Selaginellaceae,Selaginella,lepidophylla
6784,OneKP,ZZOL_2011476,KU702192,MDVDVELDSDNSSSLGSYGDADAGFQFEAHNTTAPNLSFFGFDASV...,GRNCRFLQ,638.0,"[N_terminus : (0, 0) ---> LOV : (55, 166) --->...","['F-box', 'Kelch', 'LOV']",F-box,Protein interaction,56.0,0.0,NaN,Land Plants,Lycopodiophyta,Isoetopsida,Selaginellales,Selaginellaceae,Selaginella,lepidophylla

In [7]:

msa_align = 'data/msa/msa_align.txt'
df = pd.read_csv(XLS_msa_seq_csv)

selected_rows = df.iloc[3:, 3]
# Find WT row and put it at the top
wt_row = df[df.iloc[:, 1] == 'Q2NB89'].iloc[0, 3]

result_df = pd.concat([pd.Series([wt_row]), selected_rows]).drop_duplicates()
result_df.to_csv(msa_align, index=False, header=False)

IndexError: index 0 is out of bounds for axis 0 with size 0